body {
    margin: 0;
    overflow: hidden;
}
#game-board {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
.wall {
    width: 40px;
    height: 40px;
    background-color: brown;
    position: absolute;
}

.wall img{
    width: 40px;
    height: 40px;
}

.pac-man {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

.pac-man img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ghost {
    width: 40px;
    height: 40px;
    /* background-color: red; */
    position: absolute;
}

.ghost img{
    width: 40px;
    height: 40px;
}
.object {
    width: 40px;
    height: 40px;
    background-color: rgba(50, 212, 10, 0.589);
    position: absolute;
}

.object img{
    width: 40px;
    height: 40px;
}

#score {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
#popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}